// Colors
$color-bg:white;          
$color-gray: #333333;         
$color-text: white; 
$text-color:#333;        
$color-accent: #1e90ff;       

// Spacing
$spacing-small: 0.5rem;
$spacing-medium: 1rem;
$spacing-large: 2rem;

// Fonts
$font-sans: 'Arial', sans-serif;
